*{
    margin:0;
    padding: 0;
    font-family: 'Poppins';
  }
  
  .header{
    min-height: 100vh;
    width: 100%;
    background-image: url(/imgs/iron\ hero.png);
    position: center;
    background-size: cover;
    position: relative;
    /* object-fit: ; */
  }
  
  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  
  nav img{
    width: 150px;
  }
  
  .links{
    flex: 1;
    text-align: right;
     
  }
  .links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    
  
  }
  .links ul li a{
   color: white;
   text-decoration: none;
   font-size: 20px;
  
  }
  
  .contact{
  color: white;
  text-decoration: none;
  text-align: right;
  
  }
  
  .herotext{
  
  color: white;
  
  }
  
  .herotext .heading1{
    width: 760px;
    height: 196px;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    position: relative;
    left: 300px;
    top: 100px;
    
    
  }
  
  .explorebutton {
    left: 0px;
    top: 0px;
    width: 325px;
    height: 80px;
    background-color: transparent;
    border: 1px solid #FFF;
    border-radius: 5px;
    position: relative;
    top: 100px;
    left: 300px;
    
  }
  .explorebutton a {
    color: white;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    font-size: 30px;
  }