  *{
    margin: 0;
    padding: 0;
    font-family: 'poppins' ;
   }

   nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
   nav ul li{
    display: inline;
    list-style-type: none;
    padding:28px;
    position: relative;
    float: right;
    margin-right:40px;
   }
   nav ul li a{
    text-decoration: none;
    color: black;
   } 




  .hero{
    height: 840px;
    top: 120px;
    left: 40px;
    margin-left:40px ;
    margin-right: 40px ;
    background: url(imgs/mazen\ 3.avif.png);
    background-repeat: no-repeat;
    
  }

  .herotext h1 {
    
    text-align: center;
    position: relative;
    top: 350px;
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    color: #FFF;
    width: 548px;
    height: 196px;
    position: relative;
    left: 650px;
      
  }

  .about h2{
    font-size: 56px;
    text-align: center;
    
  }

  .aboutcontent{
    font-size: 32px;
    line-height: 78.42px;
    text-align: justify;
    height: 546px;
    align-items: center;
    margin-left: 45px;
    margin-right: 45px;
    
  }


  hr{
    
    left: 40px;
    border: 1px solid black;
    margin: 40px;
    
  }

  .services .O{
    text-align: center;
    font-size: 56px;
             
  }

  .services{
    margin-left: 45px;

  }

  
  
.cards{
  margin: 45px;
  
}

.picture{
  float: left;
  display: inline;
  position: relative;
  padding: 40px;
  margin-left: 75px;
}

.picture h2{
  font-size: 36px;
  font-weight: 700;
  
  
}
.picture p{
  text-align: center;
  
  
}

.picture button{
    width: 210px;
    height: 66px;
    background: #FFD966;
    margin-left: 100px ;
    margin-top: 17px;
    border: none;
    border-radius: 5px;
    color: #000;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    
}
.picture button:hover{
     background:linear-gradient(deg, #FFD966 , #161102);
     color: white;
     border-radius: 12px;
     
}

.pi{
  width: 437px;
  height: 465px;
  
}



.rp{

  margin-top: 109px;
}

.Rp {
     
    font-family: Poppins;
    font-size: 56px;
    font-weight: 700;
    line-height: 84px;
    letter-spacing: 0em;
    text-align: center;
    
}

.recentprojects{
  margin: 45px;
  
}

.projectframe{
   width: 440px;
   height: 790px;
   background: #FFF;
   box-shadow: -3px 3px 8px 0px rgba(0, 0, 0, 0.10), -11px 11px 15px 0px rgba(0, 0, 0, 0.09), -25px 25px 21px 0px rgba(0, 0, 0, 0.05), -44px 44px 25px 0px rgba(0, 0, 0, 0.01), -68px 68px 27px 0px rgba(0, 0, 0, 0.00);
   float: left;
   position: relative;
   align-items: center;
   margin: 40px;
   margin-left: 85px ;
   
   
   
}
.img{
   width: 414px;
   height: 372px;
   border-radius: 12px;  
   box-shadow: -6px 5px 18px 0px rgba(0, 0, 0, 0.10), -25px 20px 32px 0px rgba(0, 0, 0, 0.09), -57px 46px 44px 0px rgba(0, 0, 0, 0.05), -101px 81px 52px 0px rgba(0, 0, 0, 0.01), -157px 127px 57px 0px rgba(0, 0, 0, 0.00);
  margin-left: 13px;
  margin-top: 59px;
  margin-bottom: 74px;

  

  }

.projectframe h3{
  color: #000;
  margin: 5px ;
  font-family: Poppins;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.projectframe p{
  color: #000;
  margin: 5px ;
  font-style: normal; 
  line-height: normal;
  font-size: 20px;
  

}

.projectframe button{
  width: 210px;
  height: 66px;
  top: 3621px;
  left: 510px;
  border-radius: 5px;
  margin-left: 5px;
  background: #FFD966;
  border: 1px solid #000;
  
  
 
}


input[type=text] {
  background: none;
  border: none;
  border-bottom: 2px solid black;
  width: 210px;
}

input[type=email] {
  background: none;
  border: none;
  border-bottom: 2px solid black;
  width: 210px;
}

input[type=submit] {
  font-size: 20px;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  background: #ECD674;;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 16px ;
  width: 247px ;
  height: 59px;
  color: black;
  font-size: 24px;

}

input[type=numb]{
  background: none;
  border: none;
  border-bottom: 2px solid black;
  width: 210px;
}

footer{
  background: #7C0E0A;
  height: 797px;
  
}

footer h6{
   color: #ECD674; 
  font-size: 32px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0em;
  display: inline;
  padding: 250px;
  
 
  
  
}
footer p{
   color: #ECD674; 
   
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: -0.011em;
   text-align: left;
   
  
}
footer .year {
   color: #ECD674; 
   
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   
   
   
  
}