*{
  margin: 0;
  padding: 0;
  font-family: 'poppins' ;
 }

 nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
 nav ul li{
  display: inline;
  list-style-type: none;
  padding:28px;
  position: relative;
  float: left;
  margin-right:40px;
 }
 nav ul li a{
  text-decoration: none;
  color: black;
 } 

 nav ul button {
    
  color: black;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 212px;
  height: 71.756px;
  background-color: transparent;
  border-radius: 10px;
  
  
 } 




.hero{
  height: 840px;
  top: 120px;
  left: 40px;
  margin-left:40px ;
  margin-right: 40px ;
  background: url(imgs/mazen\ 3.avif.png);
  object-fit: cover;
  
}

.herotext h1 {
  
  text-align: center;
  position: relative;
  top: 350px;
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  color: #FFF;
  width: 548px;
  height: 196px;
  position: relative;
  left: 650px;
    
}

.about h2{
  font-size: 56px;
  text-align: center;
  
}

.aboutcontent{
  font-size: 32px;
  line-height: 78.42px;
  text-align: justify;
  height: 546px;
  align-items: center;
  margin-left: 45px;
  margin-right: 45px;
  
}


hr{
  
  left: 40px;
  border: 1px solid black;
  margin: 40px;
  
}

 h2{
  text-align: center;
  font-size: 56px;
           
}


.services{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.servicepic{
  margin-left: 45px;
  
  
}

.pictures{
 width: 440px;
 height: 465px;
 
}

h3{
 text-align: center;
 padding-bottom: 13px;
}

.servicetext{
  width: 402px;
  text-align: center;
  padding-bottom: 17px;
  
}

.learnmore {
  width: 210px;
  height: 66px;
  background: #FFD966;
  border-radius: 5px;
  margin-left: 100px;
  border: 1px solid white;
}
 
.recentprojects{
  display: flex;
  justify-content: space-around;
  margin-left: 45px;
}
.projectframe{
  width: 440px;
  height: 790px;
  background: #FFF;
  box-shadow: -3px 3px 8px 0px rgba(0, 0, 0, 0.10), -11px 11px 15px 0px rgba(0, 0, 0, 0.09), -25px 25px 21px 0px rgba(0, 0, 0, 0.05), -44px 44px 25px 0px rgba(0, 0, 0, 0.01), -68px 68px 27px 0px rgba(0, 0, 0, 0.00);
  
  
  
  
}
.img{
  width: 414px;
  height: 372px;
  border-radius: 12px;  
  box-shadow: -6px 5px 18px 0px rgba(0, 0, 0, 0.10), -25px 20px 32px 0px rgba(0, 0, 0, 0.09), -57px 46px 44px 0px rgba(0, 0, 0, 0.05), -101px 81px 52px 0px rgba(0, 0, 0, 0.01), -157px 127px 57px 0px rgba(0, 0, 0, 0.00);
 margin-left: 13px;
 margin-top: 59px;
 margin-bottom: 74px;

 

 }

.projectframe h4{
 color: #000;
 margin: 5px ;
 font-family: Poppins;
 font-size: 36px;
 font-style: normal;
 font-weight: 700;
 line-height: normal;
}
.projectframe p{
 color: #000;
 margin: 5px ;
 font-style: normal; 
 line-height: normal;
 font-size: 20px;
 

}

.projectframe button{
 width: 210px;
 height: 66px;
 top: 3621px;
 left: 510px;
 border-radius: 5px;
 margin-left: 5px;
 background: #FFD966;
 border: 1px solid white;
 
 

}

.projectframe button:hover{
  background:linear-gradient(45deg, #FFD966 , #161102);
  color: white;
  border-radius: 12px;
  
}









