* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url(imgs/IFCL\ landing.jpg.png);
  position: center;
  background-size: cover;
  /* position: relative; */
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 150px; /*Logo*/
}

.links {
  flex: 1;
  text-align: right;
}
.links ul li {
  list-style-type: none;
  display: inline-block;
  padding: 8px 12px;
}
.links ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.contact {
  color: white;
  text-decoration: none;
  text-align: right;
}

.herotext {
  color: white;
}

.herotext .heading1 {
  width: 760px;
  height: 196px;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  position: relative;
  left: 300px;
  top: 100px;
}

.explorebutton {
  width: 325px;
  height: 80px;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  position: relative;
  top: 100px;
  left: 300px;
}
.explorebutton a {
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  padding: 20px;
  display: flex;
  font-size: 30px;
}

/* Our Story */
.story {
  background: #053563;
  padding-top: 20px;
}

.ourstory {
  color: #fff;
  font-size: 56px;
  text-align: center;
  font-weight: 400;
}

.text1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 45px;
  letter-spacing: 0em;
  color: #fff;
  padding: 80px;
  text-align: center;
}

/* Subsidiaries */
.subsidiaries {
  column-count: 2;
  column-gap: 40px;
  padding: 20px 10px;
}

.heading3 {
  color: #053563;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  margin: 20px;
  margin-top: 50px;
}

.sub {
  color: #000000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 139.176%;
  margin-left: 20px;
}

.viewMore {
  font-size: 20px;
  color: #053563;
  background: none;
  border: 1px solid #053563;
  padding: 10px 40px;
  border-radius: 5px;
  margin: 20px;
}

.companies {
  position: relative;
  top: 50px;
}
.companies ul li {
  list-style-type: none;
  padding-bottom: 10px;
}

.companies ul li a {
  text-decoration: none;
  color: #000000;
}
.numero {
  vertical-align: super;
  font-size: 10px;
  position: relative;
  top: -5px;
}

.span1 {
  font-size: 32px;
}

.linkToSite {
  width: 20px;
  height: 20px;
  vertical-align: super;
}

/* Footer */
.footer {
  background: #053563;
  column-count: 2;
  column-gap: 40px;
  color: #fff;
}
.footertext {
  color: #fff;
  font-size: 24px;
  margin: 20px;
  line-height: 50px;
}
.secondaryLinks a {
  text-decoration: none;
  color: #fff;
  margin: 20px;
  padding-bottom: 25px;
  font-size: 22px;
  line-height: 40px;
}
.secondaryLinks {
  margin-top: 100px;
}
.textfield {
  display: inline-block;
  font-size: 24px;
}
input[type="text"] {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  width: 209px;
}
input[type="email"] {
  background: none;
  border: none;
  border-bottom: 1px solid white;
  width: 500px;
}
input[type="submit"] {
  background: #053563;
  color: #fff;
  border: 1px solid white;
  font-size: 20px;
  padding: 10px 40px;
  border-radius: 5px;
  margin: 20px;
  margin-top: 30px;
}
.lname {
  float: left;
  margin-left: 80px;
}
.fname {
  float: left;
}
.email {
  padding-top: 70px;
}
.contacts {
  column-count: 2;
  column-gap: 40px;
  margin-bottom: 20px;
  padding-top: 15px;
  font-size: 22px;
}
.yeartext {
  color: #fff;
  margin: 40px;
  margin-left: -150px;
  padding: 15px;
  font-size: 22px;
}
